[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.0"
djangorestframework = "~=3.11.0"
markdown = "*"
django-filter = "*"
django-cors-headers = "*"
pandas = "*"
numpy = "*"
python-dateutil = "*"
pytz = "*"
openpyxl = "*"
matplotlib = "~=3.5"
scipy = "~=1.7"

[dev-packages]

[requires]
python_version = "3.7"
